@import 'bootstrap/scss/functions';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

@import 'bootstrap/scss/maps';
@import 'bootstrap/scss/mixins';

.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

@include media-breakpoint-between(xs, md) {
    .chart-container {
        position: relative;
        width: 100%;
        height: 20vh;
    }
}

.bar {
    width: 75%;
}

//TODO: Add this to common styles
.icon-hover:hover {
    font-weight: 900;
    opacity: 0.75;
}
