<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p class="fs-4 mb-1">
                            {{
                                displayName(
                                    patient?.forename,
                                    patient?.middlenames,
                                    patient?.lastname
                                )
                            }}
                        </p>
                        <p>{{ patient?.nhsNumber }}</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <h5 class="fw-bold">Patient Details</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <p class="me-4 text-nowrap mb-1">
                            Date of Birth:
                            {{ patient?.dateOfBirth | date: 'd/M/yy' }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Contact Number: {{ patient?.contactNumber }}
                        </p>
                        <p class="text-nowrap mb-1">
                            Alternate Contact Number:
                            {{ patient?.alternateContactNumber }}
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <h5 class="fw-bold">GP Details</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Name: {{ patient?.gp?.surgery?.name }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Address:
                            {{
                                displayAddress(
                                    patient?.gp?.surgery?.address
                                        ?.addresslineOne,
                                    patient?.gp?.surgery?.address
                                        ?.addresslineTwo,
                                    patient?.gp?.surgery?.address?.postcode
                                )
                            }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Contact Number:
                            {{ patient?.gp?.surgery?.contactNumber }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Name:
                            {{
                                displayName(
                                    patient?.gp?.forename,
                                    patient?.gp?.middlenames,
                                    patient?.gp?.lastname
                                )
                            }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Email: {{ patient?.gp?.email }}
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Contact Number: {{ patient?.gp?.contactNumber }}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="fw-bold">Conditions Monitored</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        @for (condition of patient?.conditions; track $index) {
                            @if (condition.shortName) {
                                <h5 class="me-4 text-nowrap mb-1">
                                    {{ condition.shortName }}
                                </h5>
                            } @else {
                                <h5 class="me-4 text-nowrap mb-1">
                                    {{ condition.name }}
                                </h5>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <select
            (change)="selectChanged($event)"
            class="form-select"
            aria-label="Default select example">
            @for (condition of patientConditions; track $index) {
                <option [value]="condition.id">{{ condition.name }}</option>
            }
        </select>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (status of recentStatus; track $index) {
                            <tr>
                                <td>{{ status.timestamp | date }}</td>
                                <td>{{ status.score }}</td>
                                <td>
                                    <div>
                                        <span
                                            class="badge"
                                            [ngClass]="{
                                                'text-bg-danger':
                                                    status.status === 'unwell',
                                                'text-bg-warning':
                                                    status.status ===
                                                    'Subclinical',
                                                'text-bg-success':
                                                    status.status === 'Normal'
                                            }"
                                            >{{ status.status }}</span
                                        >
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
