<div class="card">
    <div class="card-body pt-1">
        <div class="row align-items-center">
            <div class="col-6 col-md-6 col-lg-8 col-xxl-9 my-2 order-1">
                <h4 class="text-">Patient Preview</h4>
            </div>
            @if (extended === false) {
                <div class="col-6 d-block d-md-none my-2 d-grid">
                    <button
                        (click)="viewAll()"
                        class="btn btn-primary text-dark float-end">
                        View all
                    </button>
                </div>
            }
            <div
                class="d-block order-3"
                [ngClass]="{
                    'd-md-none': extended === false,
                    'col-12 col-md-5 col-lg-4': extended === true
                }">
                <select
                    class="form-select"
                    [(ngModel)]="selectedMobileFilter"
                    (ngModelChange)="mobileFilterChanged($event)">
                    <option value="" disabled selected>
                        No filter selected
                    </option>
                    <option value="name-asc">Name (asc)</option>
                    <option value="name-desc">Name (desc)</option>
                    <option value="nhsNumber-asc">NHS Number (asc)</option>
                    <option value="nhsNumber-desc">NHS Number (desc)</option>
                    <option value="conditionName-asc">Condition (asc)</option>
                    <option value="condition~Name-desc">
                        Condition (desc)
                    </option>
                    <option value="conditionStatus-asc">Status (asc)</option>
                    <option value="conditionStatus-desc">Status (desc)</option>
                </select>
            </div>
            <div
                class="my-2 col-sm-12 col-md-6 col-lg-4 col-xxl-3"
                [ngClass]="{
                    'order-4 order-md-2': extended === true,
                    'order-2': extended === false
                }">
                <app-search (output)="searchOutput($event)"></app-search>
            </div>
        </div>

        <div
            class="row mt-2"
            [ngClass]="{
                'd-flex d-md-none': extended === false
            }">
            @for (item of filteredData; track $index) {
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-2">
                    <app-preview-card [data]="item"></app-preview-card>
                </div>
            }
        </div>
        <app-dashboard-preview-table
            [ngClass]="{
                'd-none': extended === true
            }"
            [data]="filteredData"></app-dashboard-preview-table>

        @if (extended === false) {
            <div class="row d-none d-md-block">
                <div class="col-12">
                    <button
                        (click)="viewAll()"
                        class="btn btn-outline-primary text-dark">
                        View all
                    </button>
                </div>
            </div>
        }
    </div>
</div>
