<div class="card">
    <div class="card-header">GP Details</div>
    <div class="card-body">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-select-dropdown
                    [submitted]="submitted"
                    [editable]="editable"
                    messageSingle="GP Surgery"
                    messagePlural="GP Surgeries"
                    [items]="gpSurgeries"
                    [selectItem]="selectedGpSurgery"
                    (searchOutput)="searchForGpSurgery($event)"
                    (selectedItem)="setGpSurgery($event)"
                    [nameFn]="gpSurgeryName"></app-select-dropdown>
            </div>
            <div class="col-12 col-md-6">
                <app-select-dropdown
                    [submitted]="submitted"
                    [editable]="editable && !disableGP"
                    messageSingle="GP"
                    messagePlural="GPs"
                    [items]="gps"
                    [selectItem]="selectedGp"
                    (searchOutput)="searchForGpSurgery($event)"
                    (selectedItem)="setGp($event)"
                    [searchable]="false"
                    [nameFn]="gpName"></app-select-dropdown>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <label class="form-label">GP Name</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="gpName(selectedGp)" />
            </div>
            <div class="col-md-6">
                <label class="form-label">GP Email</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="selectedGp?.email" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="form-label">Surgery Name</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="selectedGp?.surgery?.name" />
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Surgery Address</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="surgeryAddress" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <label class="form-label">Surgery Email</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="selectedGp?.surgery?.email" />
            </div>
            <div class="col-12 col-md-6">
                <label class="form-label">Surgery Telephone</label>
                <input
                    disabled
                    type="text"
                    class="form-control"
                    [value]="selectedGp?.surgery?.contactNumber" />
            </div>
        </div>
    </div>
</div>
