<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <p class="fs-4 mb-1">Hermann P. Schnitzel</p>
                        <p>871 272819 712</p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <h5 class="fw-bold">Patient Details</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <p class="me-4 text-nowrap mb-1">
                            Date of Birth: 03/05/1999
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Contact Number: 01824 171727
                        </p>
                        <p class="text-nowrap mb-1">
                            Alternate Contact Number: 01824 171727
                        </p>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12">
                        <h5 class="fw-bold">GP Details</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Name: Healy healy group
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Address: 4 Privet Drive, PL4 8AA
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            Surgery Contact Number: 01824 171727
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Name: Gregory M. House
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Email: exampleatexample.com
                        </p>
                        <p class="me-4 text-nowrap mb-1">
                            GP Contact Number: 02828 172819
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h5 class="fw-bold">Conditions Monitored</h5>
                    </div>
                    <div class="col-12 d-flex flex-wrap">
                        <a class="me-4 text-nowrap mb-1">Heart Failure</a>
                        <a class="me-4 text-nowrap mb-1">COPD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-4">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Score</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>04/11/23</td>
                            <td>10</td>
                            <td>
                                <div>
                                    <span class="badge text-bg-danger"
                                        >unwell</span
                                    >
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body"></div>
        </div>
    </div>
</div>
