<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">title</div>
                <div class="card-body">test</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">title</div>
                <div class="card-body">
                    <button class="btn btn-primary">test</button>
                </div>
            </div>
        </div>
    </div>
</div>
