<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">Organisation</div>
            <div class="card-body">
                <div class="row mb-2">
                    <app-select-dropdown
                        [items]="organisations"
                        [submitted]="submitted"
                        [editable]="editable"
                        messageSingle="Organisation"
                        messagePlural="Organisations"
                        [items]="organisations"
                        (searchOutput)="loadOrganisations($event)"
                        (selectedItem)="setOrganisation($event)"
                        [selectItem]="inputOrganisation"
                        [searchable]="false"
                        [nameFn]="organisationName"></app-select-dropdown>
                </div>
                <form [formGroup]="form">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label class="form-label">Name</label>
                            <input
                                formControlName="name"
                                type="text"
                                class="form-control" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Country Code</label>
                            <input
                                formControlName="countryCode"
                                type="text"
                                class="form-control" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Email</label>
                            <input
                                formControlName="email"
                                type="text"
                                class="form-control" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="form-label">Contact Number</label>
                            <input
                                formControlName="contactNumber"
                                type="text"
                                class="form-control" />
                        </div>
                    </div>

                    <ng-container formGroupName="contactAddress">
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label class="form-label"
                                    >Address Line One</label
                                >
                                <input
                                    formControlName="addresslineOne"
                                    type="text"
                                    class="form-control" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="form-label"
                                    >Address Line Two</label
                                >
                                <input
                                    formControlName="addresslineTwo"
                                    type="text"
                                    class="form-control" />
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="form-label">Postcode</label>
                                <input
                                    formControlName="postcode"
                                    type="text"
                                    class="form-control" />
                            </div>
                        </div>
                    </ng-container>
                </form>
            </div>
        </div>
    </div>
</div>
