.dropdown-items-container {
    max-height: 150px;
    overflow-y: auto;
}

@import 'bootstrap/scss/functions';

@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/variables-dark';

#filter-dropdown {
    border-color: $card-border-color;
}
