<div class="row mt-2">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="form-label">Registration Code *</label>
                        <input
                            [(ngModel)]="registrationCode"
                            [disabled]="registrationCorrect"
                            type="text"
                            class="form-control" />
                    </div>
                    <div class="col-12 mt-2">
                        <button (click)="verifyCode()" class="btn btn-primary">
                            Verify Code
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (registrationCorrect) {
    <div class="row mt-2">
        <div class="col-12">
            <app-patient-details-card
                [submitted]="false"
                [editable]="editMode"></app-patient-details-card>
        </div>
    </div>
}
