@if (creatingNewPatient) {
    <div class="row mt-2">
        <div class="col-12">
            <div class="alert alert-warning" role="alert">
                <p class="m-0 fw-bold text-center">
                    You are adding a NEW patient to Helphi manually. Please
                    double check ALL details are correct before proceeding.
                </p>
            </div>
        </div>
    </div>
}
<div class="row mt-2">
    <div class="col">
        <app-add-patient-card
            (selectedPatient)="selectedPatient($event)"
            (creatingNew)="createNewPatient($event)"></app-add-patient-card>
    </div>
</div>

<div class="row mt-2">
    <div class="col-12">
        <app-patient-details-card
            [submitted]="submitted"
            [patient]="patient"
            [editable]="creatingNewPatient"
            (valid)="patientValid($event)"
            (changes)="onPatientChanges($event)"></app-patient-details-card>
    </div>
</div>
<div class="row mt-2">
    <div class="col-12">
        <app-gp-details-card
            (valid)="gpValid($event)"
            [submitted]="submitted"
            [gp]="gp"
            [editable]="creatingNewPatient"
            (change)="onGpChange($event)"></app-gp-details-card>
    </div>
</div>

<div class="sticky-bottom mt-2">
    <div class="card">
        <div
            class="card-body py-md-2 py-sm-1 d-lg-inline d-flex justify-content-center">
            <button class="btn btn-outline-dark px-4 me-2">Cancel</button>
            <button (click)="savePatient()" class="btn btn-primary px-4">
                Save
            </button>
        </div>
    </div>
</div>
