<div class="card border border-2 bg-primary shadow-sm">
    <div class="card-body py-1">
        <div class="row">
            <div class="col-6">
                <p class="m-0 fs-6">{{ data.name }}</p>
                <p class="m-0 fs-7">{{ data.nhsNumber }}</p>
            </div>
            <div class="col-6">
                <p class="m-0 fs-6">{{ data.conditionName }}</p>
                <span
                    class="badge fs-7"
                    [ngClass]="{
                        'text-bg-danger': data.conditionStatus === 'Unwell',
                        'text-bg-warning':
                            data.conditionStatus === 'Sub-clinical',
                        'text-bg-success': data.conditionStatus === 'Normal'
                    }"
                    >{{ data.conditionStatus }}</span
                >
            </div>
        </div>
    </div>
</div>
