<div class="row mt-2 mb-2">
    <div class="col-12">
        <app-condition-filter-panel
            [items]="stubFilterItems"></app-condition-filter-panel>
    </div>
</div>
@if (extended === false) {
    <div class="row">
        <div class="col-12">
            <app-charts [data]="[4, 1, 2]"></app-charts>
        </div>
    </div>
}

<div class="row">
    <div class="col-12 mt-2">
        <app-dashboard-preview
            [extended]="extended"
            [data]="stubTableData"></app-dashboard-preview>
    </div>
</div>
